{% extends 'base.html.twig' %}

{% block title %}
CRUD con Symfony
{% endblock %}

{% block body %}

<h1>CRUD con Symfonyl</h1>

<h1>con Aiub,Lernik y Miguel Angel</h1>

<a href="{{ path('producto_index') }}">Lista de Productos</a>

<a href="{{ path('producto_nuevo') }}">Añadir Producto</a>
{% endblock %}


