{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <h1>Crear Nuevo Producto</h1>

    <a href="{{ path('producto_index') }}">Volver a la lista de productos</a>
   
   {# Quito validación por defecto #}

       {{ include('producto/formulario.html.twig') }}
   
{% endblock %}  
